.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 10px 20px;
    text-align: center;
}

.title{
    display: inline;
    color: white;
    font-weight :600;
    font-style: italic;
}

.auth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12%;
}

.butt{
    font-size: medium;
    font-weight: 400;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

.signIn{
    background-color :rgba(223, 211, 211, 0.484);
}